.fs16{
    font-size: 16px;
}
.color_theme{
    color:#565656;
}
.container{
    margin: 0 auto;

}
@media screen and  (min-width: 800px) {
    .container{
        width: 780px;
    }
}
@media screen and  (min-width: 900px) {
    .container{
        width: 880px;
    }
}
@media screen and  (min-width: 1000px) {
    .container{
        width: 980px;
    }
}
@media screen and  (min-width: 1300px) {
    .container{
        width: 1200px;
    }
}





